/* panel code */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: repeating-linear-gradient(
        90deg,
        rgb(249, 253, 200),
        rgb(249, 253, 200) 100px,
        rgb(251, 252, 244) 100px,
        rgb(251, 252, 244) 200px
    );
    
}

.body {
    padding: 10px;
    display: none;
}
#title {
    width: 15%;
    margin-right: 10px;
}
.header {
    justify-content: center;
    display: flex;
    align-items: center;
}
h3{
    margin-bottom: 60px;
}

#page-1, #page-2 {
    position: relative;
    width: 750px;
    background-color: white;
    display: flex;
    padding-right: 80px;
    padding-bottom: 50px;
    border: black solid 3px;
    border-radius: 15px;
}
/* kitty code panel-1 */

.eyes{
    position: absolute;
    width: 1%;
}
#eye-1 {
    left: 750px;
    rotate: -90deg;
    top: 485px
}
#eye-2 {
    left: 865px;
    rotate: -90deg;
    top: 485px
}

#tuna-thought {
    position: absolute;
    
    width: 15%;
    top: 190px;
    left: 590px;
    rotate: 10deg;
    z-index: 1;

}

#chicken-thought {
    position: absolute;
    width: 13%;
    top: 220px;
    left: 410px;
    rotate: -70deg;
    z-index: 1;

}

#treat-thought {
    /* display: block; */
    position: absolute;
    /* text-align: center; */
    width: 8%;
    top: 130px;
    left: 520px;
    rotate: 10deg;
    z-index: 1;
}
/* kitty surronding page */

#face {
    width: 25%;
}
.paws {
    position: absolute;
    width: 25%;
    z-index: 1;
}
#right-paw {
    left: -90px;
    
    rotate: -90deg;
    transform: scaleY(-1);
    transform: scaleX(-1);
    
    top: 420px
}
#left-paw {
    right: -90px;
    rotate: 90deg;
    top: 330px
}

#head-1 {
    display: block;
}

#kitty-1 {
    width: 35%;
    margin-top: 10px;
    padding: 0 10px;
    display: block;
}
#kitty-2 {
    position: relative;
    width: 35%;
    padding: 0 10px;
    display: block;
    bottom: 39px;
    left: 4px
    
    
}



#buttons {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#thought-bubble-1{
    display: block;
    position: relative;
    width: 68%;
    bottom: 270px;
    left: 210px
}
#eyes-1 {
    width:75%;
}
#eyes-1-kitty {
    position: relative;
    bottom: 495px;
    right: 221px;
    width:15%;


    
}
#eyes-2 {
    width:75%;
}
#eyes-2-kitty {
    position: relative;
    bottom: 497px;
    right: 221px;
    width:15%;


    
}
#eyes-3 {
    width:75%;
}
#eyes-3-kitty {
    position: relative;
    bottom: 410px;
    right: 200px;
    width:40%;


    
}
#eyes-4 {
    width:75%;
    
}
#eyes-4-kitty {
    position: relative;
    bottom: 361px;
    right: 222px;
    width:15%;


    
}

.side-eye {
    opacity: 1;
    transition: opacity 3s ease-in-out;
}
#happy-kitty-1 {
    display: block;
    position: absolute;
    width: 10%;
    bottom: 513px;
    left: 810px;
    top: 700px

}

.body-button {
   
    cursor: pointer;
    padding-bottom: 30px;
}

.body-button:hover {
    color: gray
}
#panel-container {
    display: flex;
    align-items: center;
    
}
#small-container {
    display: flex;
    flex-direction: column;
}
.panel {
    border-radius: 5px;
}
.panel:hover {
    background-color: rgb(241, 241, 241);

}
#panel-1 {
    width: 656px;
    height: 300px;
    margin-top: 87px;
    border: 1px solid black;
    
}
#panel-2 {
    margin-top: 50px;
    margin-right: 50px;
    width: 300px;
    height: 600px;
    border: 1px solid black
}
#panel-3 {
    margin-top: 50px;
    width: 300px;
    height: 272px;
    border: 1px solid black
}
#panel-4 {
    margin-top: 50px;
    width: 300px;
    height: 272px;
    border: 1px solid black
}

#panel-5 {

    /* margin-left: 90px; */
    margin-top: 50px;
    width: 450px;
    height: 136px;
    border: 1px solid black;

}
#panel-6 {

    /* margin-left: 90px; */
    margin-top: 50px;
    width: 450px;
    height: 272px;
    border: 1px solid black;
    margin: auto;
    margin-top: 15px;

}

.mini-panel {
    height: 99px;
    border-bottom: 1px solid black;
}
#mini-panel-lg{
    height: 200px;
}
#mini-panel-bottom{
    height: 60px;
    border-bottom: none;
}

.draggable.dragging {
    opacity: .5;
}
#zzz {
    display: block;
    position: relative;
    right: 50px;
    width: 120%;
}
#wall-sneak {
    display: block;
    position: relative;
    
    
    width: 100%;
}
#rip {
    display: block;
    position: relative;
    margin: auto;
    top: 15px;
    
    width: 90%;
}
#mad {
    display: block;
    position: relative;
    margin: auto;
    top: 105px;
    
    width: 100%;
}
#knock {
    display: block;
    position: relative;
    margin: auto;
    
    
    width: 100%;
}




/* NAVIGATION */

#page-2-button, #page-1-button, #reset-button, #clearCanvas {
    margin: 10px;
    background-color: white;
    border-radius: 3px;
    border: solid black 1px;
}

#page-2-button:hover, #page-1-button:hover, #reset-button:hover, #clearCanvas:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* PANEL 2 TEXT AND DROPDOWN */

#p-text {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Comic Neue';
    right: 75px;
    bottom: 15px;
    margin: 0;
    padding: 0;
}

/* text-select-container{
    position: absolute;
} */

#text-select{
    /* display: block;
    position: relative; */
    /* right: 83px; */
    width: 25%;
    margin: auto;
    padding: 0;

}
#text-select-label{
    /* display: block;
    position: relative; */
    /* right: 195px; */
    margin: 0;
    padding: 0;

}

#drawingCanvas {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    cursor: crosshair;
    margin: 50px 0 0
}

/* tutorials */

.tutorial {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

#tutorial-1 {
    position: absolute;
    left: 100px;
    top: -15px;
    font-family: 'Comic Neue';
    font-size: large;
    text-align: left;

}

#tutorial-2 {
    
    position: absolute;
    left: 445px;
    top: -15px;
    font-family: 'Comic Neue';
    font-size: large;
    text-align: left;
}

#tutorial-3 {
    position: absolute;
    left: 110px;
    top: 375px;
    font-family: 'Comic Neue';
    font-size: large;
    text-align: left;
}
