body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: repeating-linear-gradient(
        90deg,
        rgb(249, 253, 200),
        rgb(249, 253, 200) 100px,
        rgb(251, 252, 244) 100px,
        rgb(251, 252, 244) 200px
    );
    
}

.body {
    padding: 10px;
    display: none;
}
#title {
    width: 15%;
    margin-right: 10px;
}
.header {
    justify-content: center;
    display: flex;
    align-items: center;
}
h3{
    margin-bottom: 60px;
}
.eyes{
    position: absolute;
    width: 1%;
}
#eye-1 {
    left: 750px;
    rotate: -90deg;
    top: 485px
}
#eye-2 {
    left: 865px;
    rotate: -90deg;
    top: 485px
}
#face {
    width: 30%;
}
.paws {
    position: absolute;
    width: 12%;
}
#right-paw {
    left: 320px;
    rotate: -90deg;
    top: 980px
}
#left-paw {
    right: 320px;
    rotate: 90deg;
    top: 660px
}

#head-1 {
    display: block;
}
#kitty-1 {
    width: 35%;
    margin-top: 10px;
    padding: 0 10px;
    display: block;
}
#kitty-2 {
    position: relative;
    width: 35%;
    padding: 0 10px;
    display: block;
    bottom: 39px;
    left: 4px
    
    
}
#treat-thought {
    display: block;
    position: relative;
    width: 8%;
    bottom: 395px;
    left: 300px;
    rotate: 10deg;
}

#page-1 {
    width: 750px;
    background-color: white;
    display: flex;
    padding-right: 80px;
    padding-bottom: 50px;
    border: black solid 3px;
    border-radius: 15px;
}

#buttons {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    
}
#thought-bubble-1{
    display: block;
    position: relative;
    width: 35%;
    bottom: 305px;
    left: 190px
}
#eyes-1 {
    width:75%;
}
#eyes-1-kitty {
    position: relative;
    bottom: 338px;
    right: 221px;
    width:15%;


    
}
#eyes-2 {
    width:75%;
}
#eyes-2-kitty {
    position: relative;
    bottom: 338px;
    right: 221px;
    width:15%;


    
}
#eyes-3 {
    width:75%;
}
#eyes-3-kitty {
    position: relative;
    bottom: 380px;
    right: 200px;
    width:40%;


    
}
#eyes-4 {
    width:75%;
}
#eyes-4-kitty {
    position: relative;
    bottom: 330px;
    right: 225px;
    width:15%;


    
}

.body-button {
    
    cursor: pointer;
    padding-bottom: 30px;
}

.body-button:hover {
    color: gray
}
#panel-container {
    display: flex;
    align-items: center;
    
}
#small-container {
    display: flex;
    flex-direction: column;
}
.panel {
    border-radius: 5px;
}
.panel:hover {
    background-color: rgb(241, 241, 241);

}
#panel-1 {
    width: 656px;
    height: 300px;
    margin-top: 50px;
    border: 1px solid black;
    
}
#panel-2 {
    margin-top: 50px;
    margin-right: 50px;
    width: 300px;
    height: 600px;
    border: 1px solid black
}
#panel-3 {
    margin-top: 50px;
    width: 300px;
    height: 272px;
    border: 1px solid black
}
#panel-4 {
    margin-top: 50px;
    width: 300px;
    height: 272px;
    border: 1px solid black
}

.mini-panel {
    height: 99px;
    border-bottom: 1px solid black;
}
#mini-panel-lg{
    height: 200px;
}
#mini-panel-bottom{
    height: 60px;
    border-bottom: none;
}

.draggable.dragging {
    opacity: .5;
}
#zzz {
    display: block;
    position: relative;
    right: 50px;
    width: 120%;
}
#wall-sneak {
    display: block;
    position: relative;
    
    
    width: 100%;
}
#rip {
    display: block;
    position: relative;
    margin: auto;
    top: 15px;
    
    width: 90%;
}
#mad {
    display: block;
    position: relative;
    margin: auto;
    top: 105px;
    
    width: 100%;
}
#knock {
    display: block;
    position: relative;
    margin: auto;
    
    
    width: 100%;
}
/* text-select-container{
    position: absolute;
} */

#text-select{
    display: block;
    position: relative;
    right: 83px;
    margin: 0;
    padding: 0;

}
#text-select-label{
    display: block;
    position: relative;
    right: 195px;
    margin: 0;
    padding: 0;

}

